body{
    font-family: "Source Code Pro";
    margin:0;
}
/* The fixed header */
header{
    width: 85%;
    padding: 2% 8%;
    font-weight: 800;
    font-size: 18px;
    color:#fffff2;
    background-color: #e47328ce;
    display: grid;
    grid-template-columns: 120px 250px 120px;
    justify-content: space-between;
    position: fixed;
}
header .groupHeader{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between
}

header .groupHeader a{
    height: 100%;
    color: #fffff2;
    text-decoration: none;
}
header .groupHeader a:hover{
    background-color: #fffff2;
    color: #373c3c;
}

header .Contact{
    padding: 1px;
    border-radius: 15%;
    height: 15px;
}
header .Contact img{
    float: right;
    width: 30px;
    height: 30px;
}
.title{
    display: grid;
    width:100%;
    grid-template-columns: auto;
    align-content: center;
    justify-content: center;
    padding:20% 0%;
    background-image: url("./Images/Juniata_Banner-810x455.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color:beige;
}
.title h1{
    font-size: 60px;
}
.title span{
    font-weight: 600;
    font-size: 20px;
    text-align: center;
}
.projects{
    display:grid;
    align-content: center;
    justify-content: center;
    margin: 10% 0;
}
.projects .slider{
    padding: 15px;
    border: 1px solid black;
    box-shadow: rgba(151, 56, 43, 0.4) 5px 5px, rgba(193, 59, 29, 0.3) 10px 10px, rgba(236, 85, 20, 0.2) 15px 15px, rgba(240, 101, 46, 0.1) 20px 20px, rgba(233, 127, 21, 0.05) 25px 25px;

}
.projects .slider img{
    width: 650px;
    height: 400px;
}
.projects .slider figcaption{
    text-align: center;
}
.projects .slider span{
    float: right;
}
.projects .slider span button{
    width: 2px;
    height: 2px;
    border-radius: 50%;
}

footer{
    width: 100%;
    height: 300px;
    background-color: #e47328ee;
    display: grid;
    justify-content: center;
    align-content: center;
    padding-bottom: 50px;
}
footer h2{
    text-align: center;
    color:#fffff2;
}
footer .tiktac{
    display: grid;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: 50px 50px 50px;
    justify-content: center;
    align-content: center;
    padding:  50px 0;
}

footer .tiktac .square{
    border: 1px solid #fffff2;
    display: grid;
    justify-content: center;
    align-content: center;
    font-size: 35px;
    color:#fffff2;
    
}
footer button{
    display: grid;
    align-content: center;
    justify-content: center;
    width: fit-content;
    height: auto;
}